<table cellspacing="0" cellpadding="0">
  <tr>
    <td style="background-color:#f1f7f7" colspan="2">
      <div style="margin:16px">
        <p>
          <%= @user.profile.full_name %>,
        </p>
        <p>
          <%= @challenge_sent.user.profile.full_name %> has challenged you on <%= Constant::AppName %> to:
        </p>
        <p>
          <strong><%= @challenge_sent.challenge.name %></strong><br/>
          <%= @challenge_sent.challenge.description %>
        </p>
        <p>
          Click <a href="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>/#/challenges">here</a> to respond.
        </p>
        <p>
          <a href="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>">http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %></a>
        </p>
      </div>
    </td>
  </tr>
</table>
