<table cellspacing="0" cellpadding="0">
  <tr>
    <td style="background-color:#f1f7f7" colspan="2">
      <div style="margin:16px">
        <p>
          <%= @user.profile.full_name %>,
        </p>
        <p>
          You've received a new message on <%= Constant::AppName %> from <%= @chat_message.user.profile.full_name %> @ <%= @chat_message.created_at.in_time_zone("America/Chicago").strftime("%A, %B #{@chat_message.created_at.in_time_zone("America/Chicago").day.ordinalize}, %l:%M %p CST") %>:
        </p>
        <p>
          <strong>"<%= @chat_message.message %>"</strong>
          <% if !@chat_message['photo'].nil? %>
          <br/>
          <br/>
          <img src="<%= @chat_message.photo.url %>" alt="<%= @chat_message.message %>" style="max-width:600px;max-height:600px;" />
          <% end %>
        </p>
        <p>
          Click <a href="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>/#/messages">here</a> to respond.
        </p>
        <p>
          <a href="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>">http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %></a>
        </p>
      </div>
    </td>
  </tr>
</table>
