<table cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2" style="text-align:center" align="center">
      <img src="<%= @tip.email_image.url %>" style="width:100%;max-height:500px"/>
    </td>
  </tr>
  <tr>
    <td align="left">
      <div style="margin:10px 16px 5px;font-family:Open Sans, Helvetica, Arial;">
        <span style="color:#006BA6;font-weight:bold;font-size:16px;"><%= @tip.title %></span>&nbsp;&nbsp;&nbsp;<span style="color:#aaa;font-size:14px">Daily Tip</span>
      </div>
    </td>
    <td align="right" valign="top">
      <p style="margin:10px 16px 5px;color:#aaa;font-family:Open Sans, Helvetica, Arial;">
        <%= @promotion.current_date.strftime("%A, %B %-d") %>
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div style="margin:3px 16px;font-family:Open Sans, Helvetica, Arial;">
        <p><%= strip_tags(@tip.summary_html) %> <strong><a style="color:#57a635;" href="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>/#/tips/<%= @tip.id %>">More</a></strong></p>
      </div>
    </td>
  <tr>
    <td style="border-top:1px solid #f2f2f2;" colspan="2">
      <div style="margin:16px">
        <img width="100px" height="100px" src="<%= @recipe.image_url %>" style="border-radius:50%;display:block;float:left;width:100px;height:100px;" alt="<%= @recipe.title %>">
        <div style="float:left;margin-left:20px;width:75%;font-family:Open Sans, Helvetica, Arial;">
          <span style="color:#777;font-size:14px;font-weight:bold;">Recipe of the day</span><br/>
          <span style="color:#006BA6;font-weight:bold;font-size:16px;"><%= @recipe.title %></span>
          <p style="font-family:Open Sans, Helvetica, Arial;"><%= raw @recipe.description %> <strong><a style="color:#57a635;" href="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>/#/recipe/<%= @recipe.id %>">More</a></strong></p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div style="margin:16px;font-family:Open Sans, Helvetica, Arial;font-size:14px">
        <a href="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>" style="display:block;float:left;color:#57a635;"><em>http://kp.org/gokp</em></a>
      </div>
    </td>
    <td style="text-align:right;" align="right">
      <div style="margin:16px;float:right;font-family:Open Sans, Helvetica, Arial;">
        <a href="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>"><img src="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>/images/email/log_progress.png" alt="Log Progress" /></a>
      </div>
    </td>
  </tr>
</table>
