<table cellspacing="0" cellpadding="0" style="width:100%;display:block;">
  <tbody style="width:100%;display:block;">
    <tr style="width:100%;display:block;">
      <td style="background-color:#f1f7f7;width:100%;display:block;" colspan="2">
        <div style="margin:16px">
          <p>
            <%= @user.profile.full_name %>,
          </p>
          <p>
            <%= @event.user.profile.full_name %> has invited you to...
          </p>
          <table cellspacing="0" cellpadding="0" style="width:100%">
            <tr>
              <td colspan="2">
                <h3 style="margin:0;padding:0;line-height:1em;text-align:center;font-size:18px;color:#56a748;"><%= @event.name %></h3>
                <%
                event_start = Time.at(@event.start)
                event_end = Time.at(@event.end)
                start_formatted = event_start.strftime("%A, %B #{event_start.day.ordinalize}, %l:%M %p")
                end_formatted = (event_start.day != event_end.day) && (event_end.hour > 4) ? event_end.strftime("%A, %B #{event_start.day.ordinalize}, %l:%M %p") : event_end.strftime("%l:%M %p")
                %>
                <p style="text-align: center">
                  <span style="font-size:10px"><em><%= start_formatted %> - <%= end_formatted %></em></span>
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="text-align:center">
                <img src="<%= @event.photo.url %>" alt="<%= @event.name %>" />
              </td>
            </tr>
            <tr>
              <td>
                <strong>Where?</strong>
              </td>
              <td>
                <%= @event.place %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>What?</strong>
              </td>
              <td>
                <%= @event.description %>
              </td>
            </tr>
          </table>
          Click <a href="http://www.healthyworkforce-gokp.org/#/events/<%= @event.id %>">here</a> to respond.
        </div>
      </td>
    </tr>
  </tbody>
</table>