<table cellspacing="0" cellpadding="0">
  <tr>
    <td style="background-color:#fff;border-top:1px solid #f2f2f2" colspan="2">
      <div style="margin:18px;color:#303030;font-size:12px;font-family:Open Sans, Helvetica, Arial;width:630px">
        <p style="font-family:Open Sans, Helvetica, Arial;color:#303030"><%= @user.profile.full_name %>,</p>
        <p style="font-family:Open Sans, Helvetica, Arial;color:#303030"><%= @event.user.profile.full_name %> has invited you to...</p>
        <table cellspacing="5" cellpadding="0" style="width:630px">
          <tr>
            <td colspan="2">
              <h3 style="margin:0;padding:0;line-height:1em;text-align:center;font-size:18px;color:#56a748;font-family:Open Sans, Helvetica, Arial;"><%= @event.name %></h3>
              <%
              event_start = Time.at(@event.start)
              event_end = Time.at(@event.end)
              start_formatted = event_start.strftime("%A, %B #{event_start.day.ordinalize}, %l:%M %p")
              end_formatted = (event_start.day != event_end.day) && (event_end.hour > 4) ? event_end.strftime("%A, %B #{event_start.day.ordinalize}, %l:%M %p") : event_end.strftime("%l:%M %p")
              %>
              <p style="text-align: center;margin:5px"><span style="font-size:10px;font-family:Open Sans, Helvetica, Arial;color:#303030"><em><%= start_formatted %> - <%= end_formatted %></em></span></p>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align:center">
              <img src="<%= @event.photo.file.nil? ? "https://#{@event.user.promotion.subdomain}.#{DomainConfig::DomainNames.first.to_s + @event.photo.url.to_s}" : @event.photo.url %>" alt="<%= @event.name %>" />
            </td>
          </tr>
          <tr>
            <td style="font-family:Open Sans, Helvetica, Arial;color:#303030">
              <strong>Where?</strong>
            </td>
            <td style="font-family:Open Sans, Helvetica, Arial;color:#303030">
              <%= @event.place %>
            </td>
          </tr>
          <tr>
            <td style="font-family:Open Sans, Helvetica, Arial;color:#303030">
              <strong>What?</strong>
            </td>
            <td style="font-family:Open Sans, Helvetica, Arial;color:#303030">
              <%= @event.description %>
            </td>
          </tr>
        </table>
        Click <a href="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>/#/events/<%= @event.id %>" style="color:#006ba6">here</a> to respond.
        <p><a href="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>" style="color:#006ba6">http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %></a></p>
      </div>
    </td>
  </tr>
</table>