<table cellspacing="0" cellpadding="0">
  <tr>
    <td align="left">
      <h1 style="font-family:Open Sans, Helvetica, Arial;color:#57a635;margin:17px;font-weight:bold;font-size:14px;">A new message from <%= @user.profile.full_name %> on <%= Constant::AppName %>!</h1>
    </td>
    <td align="right">
      <p style="margin:18px;color:#aaa;font-family:Open Sans, Helvetica, Arial;font-size:12px;">
        <%= @user.promotion.current_date.strftime("%A, %B %-d") %>
      </p>
    </td>
  </tr>
  <tr>
    <td style="background-color:#fff;border-top:1px solid #f2f2f2" colspan="2">
      <div style="margin:18px;color:#303030;font-size:12px;font-family:Open Sans, Helvetica, Arial;">
        <p><strong><%= @user.profile.first_name %> says:</strong></p>
        <p>"<%= @message %>"</p>
      </div>
    </td>
  </tr>
</table>
