<table cellspacing="0" cellpadding="0">
  <tr>
    <td style="background-color:#fff;border-top:1px solid #f2f2f2" colspan="2">
      <div style="margin:18px;color:#303030;font-size:12px;font-family:Open Sans, Helvetica, Arial;">
        <p><%= @user.profile.full_name %> has invited you to join <%= Constant::AppName %>. Click <a href="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>/#/register" style="color:#006ba6">here</a> to register.</p>
        <% if !@message.nil? && @message.length > 0 %>
          <p>"<%= @message %>"</p>
          <p>- <%= @user.profile.full_name %></p>
        <% end %>
        <p><strong>What is <%= Constant::AppName %>?</strong></p>
        <p><%= Constant::AppName %> is a wellness campaign sponsored by HealthyWorkforce, for the people who power KP.</p>
        <p>Using <%= Constant::AppName %>,  you can record all kinds of activity and track your progress towards your individual health and fitness goals. With fun social features and multiple ways to earn points and badges, support co-workers, and stay inspired, <%= Constant::AppName %> will help you achieve your best self!</p>
        <p>Here are a few quotes from the Wellness Wall:</p>
        <ul style="list-style-type: none; margin-left: 0px; padding-left:0px;">
          <li style="margin:10px">"Thumbs up to everyone who continues to 'Thrive' on the weekend! I've been training for the OC Half Marathon, and my first 13 miles is tomorrow morning. Eek!"</li>
          <li style="margin:10px">"I just started and I am looking forward to inspiration and support!"</li>
          <li style="margin:10px">"I walked an amazing 16,190 steps / 9.12 miles and burned 973 cal on Saturday while visiting San Francisco. Whoo Hoo! I feel great! :-)"</li>
        </ul>
        <p style="margin-top:34px">Ready? Then get set and <a href="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>/register" style="color:#006ba6">Let's Go KP</a>!</p>
      </div>
    </td>
  </tr>
</table>
