<%
@recipe = @object
%>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2" style="text-align:center" align="center">
      <img src="<%= @recipe['image_url'] %>" style="width:100%;max-height:500px"/>
    </td>
  </tr>
  <tr>
    <td align="left">
      <div style="margin:16px;color:#303030;font-size:12px;font-family:Open Sans, Helvetica, Arial;">
        <h1 style="color:#b6354b;font-weight:bold;font-size:14px;"><%= @user.profile.full_name %> sent you this <em><%= Constant::AppName %></em> Recipe</h1>
        <% unless !@message || @message.empty? %>
        <p>
           <%= @user.profile.first_name %> says:<br/>
          <%= @message %>
        </p>
        <% end %> 
        <p>
          <h1 style="color:#b6354b;font-weight:bold;font-size:14px;"><%= raw @recipe['title'] %></h1>
        </p>
      </div>
    </td>
    <td align="right" valign="top">
      <p style="margin:16px;color:#aaa;font-size:12px;font-family:Open Sans, Helvetica, Arial;">
        <%= @user.promotion.current_date.to_s %>
      </p>
    </td>
  </tr>
  <tr>
    <td style="background-color:#fff;border-top:1px solid #f2f2f2" colspan="2">
      <div style="margin:16px;color:#303030;font-size:12px;font-family:Open Sans, Helvetica, Arial;">
        <%= raw @recipe['description'] %> <a href="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>/#/recipes/<%= @recipe['id'] %>" style="color:#006BA6;">View More</a>
      </div>
    </td>
  </tr>
</table>
