<table cellspacing="0" cellpadding="0" style="background-color:#fff">
  <tr>
    <td align="left">
      <div style="margin:10px 16px 5px;font-family:Open Sans, Helvetica, Arial;">
        <span style="color:#006BA6;font-weight:bold;font-size:16px;"><%= @reminder.subject %></span>
      </div>
    </td>
    <td align="right">
      <p style="margin:16px;color:#aaa;font-family:Open Sans,Helvetica,Arial">
        <%= Date.today.to_s %>
      </p>
    </td>
  </tr>
  <tr>
    <td style="background-color:#fff" colspan="2">
      <div style="margin:16px;font-family:Open Sans,Helvetica,Arial">
        <p><%= @user.profile.full_name %>,</p>
        <%= raw @reminder.body %>
        <a href="https://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>"><img src="http://<%= @user.promotion.subdomain + '.' + DomainConfig::DomainNames.first %>/images/email/log_progress.png" alt="Log Progress" /></a>
      </div>
    </td>
  </tr>
</table>
