<table cellspacing="0" cellpadding="0">
  <tr>
    <td align="left">
      <h1 style="font-family:Open Sans, Helvetica, Arial;color:##b5364b;margin:17px;font-weight:bold;font-size:14px;">Greetings from <em><%= Constant::AppName %></em>!</h1>
    </td>
    <td align="right">
      <p style="margin:18px;color:#aaa;font-family:Open Sans, Helvetica, Arial;font-size:12px;">
        <%= @user.promotion.current_date.strftime("%A, %B %-d") %>
      </p>
    </td>
  </tr>
  <tr>
    <td style="background-color:#fff;border-top:1px solid #f2f2f2" colspan="2">
      <div style="margin:18px;color:#303030;font-size:12px;font-family:Open Sans, Helvetica, Arial;">
        <% if @invite_type == 'requested' %>
          <p><%= @from_user.profile.full_name %> has requested to join your team on <em><%= Constant::AppName %></em>. Click <a style="color:#006ba6" href="<%= @base_url %>/#/team">here</a> to respond to their request.</p>
        <% else %>
          <p><%= @from_user.profile.full_name %> has invited you to join their team, "<%= @team.name %>" on  <em><%= Constant::AppName %></em>. Click <a style="color:#006ba6" href="<%= @base_url %>/#/team">here</a> to respond to their invitation.</p>
        <% end %>
        <% if @message && !@message.empty? %>
          <p><strong>"<%= @message %>"</strong></p>
        <% end %>
      </div>
    </td>
  </tr>
</table>
