<table align="center" cellpadding="0" cellspacing="0" style="min-width:700px;width:100%;font-family:Open Sans, Helvetica, Arial;">
  <tr>
    <td align="center" style="background-color:#ffffff">
      <table cellpadding="0" cellspacing="0" style="background-color:#ffffff;border-spacing:0px;width:100%;width:630px;">
        <tr style="background-color:#ffffff">
          <td style="text-align:left">
            <a href="<%= @base_url %>" style="border:none;text-decoration:none;">
              <img src="<%= @base_url %>/images/email/logo.jpg" style="border:none;text-decoration:none;"/>
            </a>
          </td>
          <td style="text-align:right">
            <% unless @promotion.nil? %>
            <% logo_url = @promotion.logo.file.nil? ? "#{@base_url}#{@promotion.logo.url}" : @promotion.logo.url %>
              <img src="<%= logo_url %>"/>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center" style="background-color:#fffff;border-spacing:0px;padding-top:0px;">
      <table cellpadding="0" cellspacing="0" style="width:100%; width:630px;margin-top:-1px;border-spacing:0px;">
        <tr style="background-color:#ffffff">
          <td colspan="2" style="padding:0px;font-family:Arial;">
            <%= yield %>
          </td>
        </tr>
        <% if @global_email_message %>
          <tr style="background-color:#ffffff">
            <td colspan="2" style="background-color:#ffffff;color:#000000;padding:10px">
              <%= raw(@global_email_message) %>
            </td>
          </tr>
        <% end %>
        <tr style="background-color:#ffffff;padding:0px;">
          <td colspan="2" style="padding:0px;height:5px;background-color:#b6354b">
          </td>
        </tr>
        <tr style="vertical-align:top">
          <td align="left">
            <p style="margin-bottom:80px;margin-top:5px;font-family:Open Sans, Helvetica, Arial;">
              <% if @daily %>
                <a href="<%= @base_url %>/#/unsubscribe/%%EMAIL_GOES_HERE" style="color: #50819c;font-size: 12px;">Unsubscribe</a>
              <% else %>
                <a href="<%= @base_url %>" style="color: #50819c;font-size: 12px;"><%= @base_url %></a>
              <% end %>
            </p>
          </td>
          <% unless @promotion.organization.is_hes_info_removed %>
          <td align="right">
            <p style="margin-bottom:80px;color: #508AA2; font-size: 12px; height: 30px;float:right;margin-top:5px;font-family:Open Sans, Helvetica, Arial;">
              &copy; 
              <%= Date.today.year  %>
              Health Enhancement Systems 
            </p>
          </td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
</table>
